:root {
    --first-color: #233142;
    --second-color: #455d7a;
    --third-color: #f95959;
    --fourth-color: #e3e3e3;
  }

::view-transition-old(.active),
::view-transition-new(.active) {
    animation-duration: 0.2s;
}

::view-transition-old(.active) {
    animation: 0.2s linear both menu_underline_reverse;
}

::view-transition-new(.active) {
    animation: 0.2s linear both menu_underline;
}

@view-transition {
    navigation: auto;
}

body {
    max-width: 700px;
    padding: 0 2rem;
    margin: 0 auto;
    font-family: 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

a {
    color: var(--second-color);

    &:visited {
        color: var(--second-color);
    }
}
    
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h1, h2 {
    text-wrap: balance;         
}
        
p, li {
    line-height: 1.7rem;

}

strong {
    color: var(--third-color);
}

@keyframes menu_underline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes menu_underline_reverse {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes vertical-bounce-rtl {
    0% {
        transform: translateX(10px);
    }
    30% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);   
    }
    100% {
        transform: translateX(10px);
    }
}


header {
    display: flex;
    padding: 2rem 0;
    flex: 0 0;
}

main {
    flex: 1;
}

nav {
    flex: 1;

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        li {
            margin-right: 1em;

             a {
                text-decoration: none;
                color: #000;
                position: relative;

                &:visited {
                    color: #000;
                }

                &:hover {
                    color: var(--second-color);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    transform: scaleX(0);
                }
                    
                &.active:not(.entering):not(.leaving)::after {
                    transform: scaleX(1);
                }

                &.entering::after {
                    animation: menu_underline 0.2s linear both;
                }

                &.leaving:after {
                    animation: menu_underline_reverse 0.2s linear both;
                }
             }
        }
    }
}

footer {
    padding: 2rem 0 1rem;

    a {
        font-size: small;
    }
}

blockquote {
    margin: 2rem 0;
    line-height: 1rem;
    border: none;
    padding: 0;
    border-radius: 5px;

    p {
        margin:0 0 1rem;
        font-size: 1.5rem;
    }

    cite{
        font-size: 1rem;
        margin: 0 0 1rem;
        line-height: 1rem;
        color: gray;
        display: block;
    }

}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--second-color);
    color: white;
    border: 0;
    border-radius: 3px;
}

.hidden {
    display: none;
}

#main-nav{
    &>ul>li {
       position: relative; 
    }
    &.show-step>ul>li:last-child:after {
        position: absolute;
        content: "\2190";
        margin-left: 20px;
        top: 0;
        left: 100%;
        width: 150px;
        height: 20px;
        z-index: 1;
        color: var(--third-color);
        font-weight: bold;
        font-size: 3rem;
        animation: vertical-bounce-rtl  0.5s ease-in infinite alternate, fadeIn 0.2s forwards;
    }
}

#step1-popover {
    background: var(--fourth-color);
    color: black;
    font-weight: 400;
    padding: 1rem;
    max-width: 300px;
    line-height: 1.4;
    position: absolute;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 5px;
    animation: fadeIn 0.2s forwards;
    top: anchor(top);
    left: anchor(right);
    transform: translateY(-30px);
    p {
        margin: 0;
    }

    div {
        display: flex;
    }

    span {
        color: var(--third-color);
        font-weight: bold;
        font-size: 3rem;
        animation: vertical-bounce-rtl 0.8s ease-in infinite, fadeIn 0.2s forwards;
        display: inline-block;
        transform: translateX(10px);
    }
}

.popover-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.blog-posts-list {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 2rem;
        padding: 0;
    }

    span {
        display: block;
        font-size: small;
    }
}

form {
    label {
        display: block;
        margin-bottom: 1rem;

    }

    input, textarea {
        padding: 0.5rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin: 0.5rem 0;
        width: 100%;
        display: block;
    }

    .required {
        color: var(--third-color);
        font-size: 0.8rem;
    }
}