:root {
    --first-color: #233142;
    --second-color: #455d7a;
    --third-color: #f95959;
    --fourth-color: #e3e3e3;
  }

::view-transition-old(.active),
::view-transition-new(.active) {
    animation-duration: 0.2s;
}

::view-transition-old(.active) {
    animation: 0.2s linear both menu_underline_reverse;
}

::view-transition-new(.active) {
    animation: 0.2s linear both menu_underline;
}

@view-transition {
    navigation: auto;
}

body {
    max-width: 700px;
    padding: 0 2rem;
    margin: 0 auto;
    font-family: 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

a {
    color: var(--second-color);

    &:visited {
        color: var(--second-color);
    }
}
    
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h1, h2 {
    text-wrap: balance;         
}
        
p, li {
    line-height: 1.7rem;

}

strong {
    color: var(--third-color);
}

@keyframes menu_underline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes menu_underline_reverse {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

header {
    display: flex;
    padding: 2rem 0;
    flex: 0 0;
}

main {
    flex: 1;
}

nav {
    flex: 1;

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        li {
            margin-right: 1em;

             a {
                text-decoration: none;
                color: #000;
                position: relative;

                &:visited {
                    color: #000;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    transform: scaleX(0);
                    }
                    
                &.active:not(.entering):not(.leaving)::after {
                    transform: scaleX(1);
                }

                &.entering::after {
                    animation: menu_underline 0.2s linear both;
                }

                &.leaving:after {
                    animation: menu_underline_reverse 0.2s linear both;
                }
             }
        }
    }
}

footer {
    padding: 2rem 0 1rem;

    a {
        font-size: small;
    }
}

blockquote {
    margin: 2rem 0;
    line-height: 1rem;
    border: none;
    padding: 0;
    /* text-align: center; */
    /* background-color: var(--fourth-color); */
    border-radius: 5px;

    p {
        margin:0 0 1rem;
        font-size: 1.5rem;
    }

    cite{
        font-size: 1rem;
        margin: 0 0 1rem;
        line-height: 1rem;
        color: gray;
        display: block;
    }

    button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        background-color: var(--second-color);
        color: white;
        border: 0;
        border-radius: 3px;
    }
}
