<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <script src="//unpkg.com/alpinejs" defer></script>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/resume.css">
        <script type="speculationrules">
            { "prefetch": [ {"source": "list", "urls": ["/", "/resume", "/blog", "/contact"]} ] }
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul>
                    <li>
                        <a {% if active_menu_item=='home' %} class="active" {% endif %} href="/">home</a>
                    </li>
                    <li>
                        <a {% if active_menu_item=='resume' %} class="active" {% endif %} href="/resume/">resume</a>
                    </li>
                    <li>
                        <a {% if active_menu_item=='blog' %} class="active" {% endif %} href="/blog/">blog</a>
                    </li>
                    <li id="menu-toggle">
                        <a {% if active_menu_item=='contact' %} class="active" {% endif %} href="/contact/">contact</a>
                        <div id="step1-popover" popover anchor="menu-toggle">
                            <div class="popover-container">
                                <div>
                                    <span>&#8592;</span>
                                </div>
                                <div>
                                    <p>Did you notice how smooth the pages transition and how the</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="social">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/guayomena/" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </li>
                    </li>
                    <li>
                        <a href="https://github.com/guayom" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://bsky.app/profile/guayom.bsky.social" target="_blank">
                            <i class="fa-brands fa-bluesky"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="fade-in">
            {{ content | safe }}
        </main>
        {% getBundle "fontawesome" %}
        <script src="/js/animations.js"></script>
    </body>
</html>