<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <script src="//unpkg.com/alpinejs" defer></script>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/resume.css">
        <script type="speculationrules">
            { "prefetch": [ {"source": "list", "urls": ["/", "/resume", "/blog"]} ] }
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul>
                    <li>
                        <a {% if active_menu_item=='home' %} class="active" {% endif %} href="/">home</a>
                    </li>
                    <li>
                        <a {% if active_menu_item=='resume' %} class="active" {% endif %} href="/resume/">resume</a>
                    </li>
                    <li>
                        <a {% if active_menu_item=='blog' %} class="active" {% endif %} href="/blog/">blog</a>
                    </li>
                    <li id="menu-toggle">
                        <a {% if active_menu_item=='contact' %} class="active" {% endif %} href="/contact/">contact</a>
                        <div id="step1-popover" popover anchor="menu-toggle">
                            <div class="popover-container">
                                <div>
                                    <span>&#8592;</span>
                                </div>
                                <div>
                                    <p>Did you notice how smooth the pages transition and how the</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <nav class="social">
                <ul>
                    <li><a href="https://www.linkedin.com/in/guayomena/" target="_blank"><img src="/img/linkedin-square.svg" alt="LinkedIn"/></a></li>
                    <li><a href="https://github.com/guayom" target="_blank"><img src="/img/github.svg" alt="GitHub"/></a></li>
                </ul>
            </nav>
        </header>
        <main class="fade-in">
            {{ content | safe }}
        </main>
        <script>
            const menuItems = document.querySelectorAll('nav#main-nav ul li a');
            menuItems.forEach(item => {
                item.addEventListener('click', async (e) => {
                    if (document.startViewTransition) {
                        e.preventDefault();
                        console.log('Transition started.');
                        const mainElement = document.querySelector('main');
                        mainElement.classList.remove('fade-in');
                        mainElement.classList.add('fade-out');
                        const activeItem = document.querySelector('.active');
                        if (activeItem) {
                            activeItem.classList.add('leaving');
                            activeItem.classList.remove('active');
                            item.classList.add('entering');
                        }
                        const transition = document.startViewTransition(() => {
                            console.log('startViewTransition callback.');
                            window.location.href = item.href;
                        });
                        await transition.finished;
                        console.log('startViewTransition finished.');
                    } else {
                        console.log('startViewTransition is not supported.');
                        window.location.href = item.href;
                    }
                });
            });
            window.addEventListener('DOMContentLoaded', (event) => {
                const mainElement = document.querySelector('main');
                mainElement.addEventListener('animationend', () => {
                    mainElement.classList.remove('fade-in');
                });
            });
        </script>
    </body>
</html></body></html>